%p
	%strong Title:
	= @article.title

%p
	%strong text:
	= @article.text

%p
	%strong create:
	= @article.created_at

%p
	%strong img:
	%div
		= image_tag attachment_url(@article, :image, format: "jpg")

%p
	%strong image_thumb:
	%div
		= image_tag attachment_url(@article, :image_thumb, format: "jpg")
